@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import 'primeicons/primeicons.css';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --surface-0: #f9f9f9;
  --surface-50: #f9f9f9;
  --surface-100: #f4f4f4;
  --surface-200: #ececec;
  --surface-300: #dddddd;
  --surface-400: #b9b9b9;
  --surface-500: #9a9a9a;
  --surface-600: #717171;
  --surface-700: #5d5d5d;
  --surface-800: #3f3f3f;
  --surface-900: #1e1e1e;
  --surface-950: #1B1B1B;

  --primary-50: #e4f7ed;
  --primary-100: #bdead3;
  --primary-200: #91dcb7;
  --primary-300: #5dcf9b;
  --primary-400: #26c485;
  --primary-500: #00b96f;
  --primary-600: #00a964;
  --primary-700: #009757;
  --primary-800: #00854a;
  --primary-900: #006634;
  --primary-950: #006634;
  --primary-dark-900: #1b201d;

  --primary: #26c485;
  --primary-hover: #5dcf9b;
  --primary-fill: #155c40;
  --white-text: #e9e9e9;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-hover);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--primary);
  }
}
